.events {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
}

.wrapper .carrosel {
    
    max-width: 1200;
    margin: auto;
    padding: 0 30px;
    
    
}

.carrosel .card {
    
    
    text-align: center;
    margin: 20px 0;
}

.owl-dots{
    text-align: center;
    margin-top: 40px;
  }
  .owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid rgb(84, 38, 107)!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: rgb(84, 38, 107)!important;
  }

  