.maestriaDE {
    background-image:
        url('../img/imagenesactualizadas1/banermde.png');
        background-repeat:no-repeat;
        background-position:center;
        height: 400px;
        background-size: cover;

        text-align: center;
        color: white;
            
            
  }

  .maestriaDE-movil {
    background-image:
        url('../img/imagenesactualizadas1/movilposgrados/baner72.png');
        background-repeat:no-repeat;
        background-position:center;
        height: 300px;
        background-size: cover;

        text-align: center;
        color: white;
            
            
  }

.maestriaDC {
    background-image:
        url('../img/imagenesactualizadas1/banermdc.png');
        background-repeat:no-repeat;
        background-position:center;
        height: 400px;
        background-size: cover;

        text-align: center;
        color: white;           
}

.maestriaDC-movil {
    background-image:
        url('../img/imagenesactualizadas1/movilposgrados/baner71.png');
        background-repeat:no-repeat;
        background-position:center;
        height: 300px;
        background-size: cover;

        text-align: center;
        color: white;                  
}

.doctoradoDE {
  background-image:
      url('../img/imagenesactualizadas1/banerdde.png');
      background-repeat:no-repeat;
      background-position:center;
      height: 400px;
      background-size: cover;

      text-align: center;
      color: white;           
}

.doctoradoDE-movil {
  background-image:
      url('../img/imagenesactualizadas1/movilposgrados/baner77.png');
      background-repeat:no-repeat;
      background-position:center;
      height: 300px;
      background-size: cover;

      text-align: center;
      color: white;                  
}

.doctoradoDC {
  background-image:
      url('../img/imagenesactualizadas1/banerddc.png');
      background-repeat:no-repeat;
      background-position:center;
      height: 400px;
      background-size: cover;

      text-align: center;
      color: white;           
}

.doctoradoDC-movil {
  background-image:
      url('../img/imagenesactualizadas1/movilposgrados/baner97.png');
      background-repeat:no-repeat;
      background-position:center;
      height: 300px;
      background-size: cover;

      text-align: center;
      color: white;                  
}

  

  .bg-header-posgrado{
    background-color: rgb(84, 38, 107,0.9);
    margin-top: 10%;
    font-size: 50px;
  }

  .bg-header-posgrado-movil{
    background-color: rgb(84, 38, 107,0.9);
    margin-top: 10%;
    font-size: 20px;
  }