<html >

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="img/logo-100.png" type="image/vnd.microsoft.icon" />
<title>Instituto Iberoamericano de Derecho Electoral</title>
 

  <!-- Google Tag Manager -->

<!-- End Google Tag Manager --> 
 <link type="text/css" rel="stylesheet" href="css/1.css" media="all">
<link type="text/css" rel="stylesheet" href="css/2.css" media="screen">
<link type="text/css" rel="stylesheet" href="css/3.css" media="all">
<link type="text/css" rel="stylesheet" href="css/4.css" media="all">
<link type="text/css" rel="stylesheet" href="css/6.css" media="all">
<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" media="all">

<link type="text/css" rel="stylesheet" href="css/general12.min.css" media="all">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style type="text/css">
    @media(max-width: 600px) {
      #headerImage {
    position: fixed;
    height: 39em;
    left: -0.3em;    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px,center;
}
              #headerImage {
          background-image: url(img/banners-laz/nuevo/letra/baner97.jpg); 

}
#headerImageContainer {
    width: 100%;
    height: 385px;
    position: absolute;
    margin-top: 6em;
    margin-bottom: 25em;
}
#Contenedor {
    padding-top: 150%;
}
}
@media (min-width: 700px) {
#headerImageContainer {
    width: 100%;
    height: 385px;
    position: absolute;
    margin-top: -1em;
    margin-bottom: 25em;
}
        #headerImage {
          background-image: url(img/banners-laz/nuevo/doctorados.jpg); 
          background-repeat:no-repeat;
          background-size:contain;
          background-position:center;
          word-wrap: break-word;
}
#Contenedor {
    padding-top: 20%;
}
}
.hp-slide-8615 
.media { background: url(img/DoctoradoDerechoElectoralDefault.jpg) top center; } 
@media (min-width: 1200px) and (max-width: 1300px) { 
  .hp-slide-8615 .media { background: url(img/DoctoradoDerechoElectoralWide.jpg) top center; } } 
@media (min-width: 1501px) { 
  .hp-slide-8615 .media { background: url(img/DoctoradoDerechoElectoral.jpg) top center; } } 
@media (max-width: 550px) {
 .hp-slide-8615 .media { background: url(img/DoctoradoDerechoElectoralthing.jpg) top center; } } 


.hp-slide-8616 
.media { background: url(img/DoctoradoDerechoI.jpg) top center; } 
@media (min-width: 1200px) and (max-width: 1500px) { 
  .hp-slide-8616 .media { background: url(img/DoctoradoDerechoI.jpg) top center; } } 
@media (min-width: 1501px) { 
  .hp-slide-8616 .media { background: url(img/DoctoradoDerechoI.jpg) top center; } } 
@media (max-width: 550px) { 
  .hp-slide-8616 .media { background: url(img/DoctoradoDerechoIthing.jpg) top center; } } 


  .hp-slide-10499 .media { background: url(img/MaestriaDerechoElectoral.jpg) top center; } 
@media (min-width: 1200px) and (max-width: 1500px) { 
  .hp-slide-10499 .media { background: url(img/MaestriaDerechoElectoral.jpg) top center; } } 
@media (min-width: 1501px) { 
  .hp-slide-10499 .media { background: url(img/MaestriaDerechoElectoral.jpg) top center; } } 
@media (max-width: 550px) { 
  .hp-slide-10499 .media { background: url(img/MaestriaDerechoElectoralthing.jpg) top center; } } 


/* Maestria derecho constituacional*/
.hp-flip-card-DOC1 .front { background-image: url(img/banners-laz/nuevo/baner17.jpg);height: 48em;; background-size: 100% 100%; } 
.hp-flip-card-DOC1 .back { background-image: url(img/banners-laz/nuevo/baner18.jpg); height: 48em;; background-size: 100% 100%; } 

.hp-flip-card-DOC2 .front { background-image: url(img/banners-laz/nuevo/baner19.jpg);height: 48em;; background-size: 100% 100%; } 
.hp-flip-card-DOC2 .back { background-image: url(img/banners-laz/nuevo/baner20.jpg);height: 48em;; background-size: 100% 100%; } 

/* Maestria derecho constituacional*/
.hp-flip-card-MDC1 .front { background-image: url(img/banners-laz/nuevo/BANER33.jpg);  background-size: 100% 100%; } 
.hp-flip-card-MDC1 .back { background-image: url(img/banners-laz/nuevo/BANER34.jpg); background-size: 100% 100%;} 

.hp-flip-card-64612 .front { background-image: url(img/banners/catedraticos_a.png); background-size: 100% 100%;} 
.hp-flip-card-64612 .back { background-image: url(img/banners/catedraticos_b.png); background-size: 100% 100%;} 

.hp-flip-card-6461 .front { background-image: url(img/banners-laz/nuevo/BANER35.jpg); background-size: 100% 100%;} 
.hp-flip-card-6461 .back { background-image: url(img/banners-laz/nuevo/BANER36.jpg); background-size: 100% 100%;} 

.hp-flip-card-6462 .front { background-image: url(img/banners-laz/nuevo/BANER31.jpg); background-size: 100% 100%;} 
.hp-flip-card-6462 .back { background-image: url(img/banners-laz/nuevo/BANER32.jpg); background-size: 100% 100%;} 

.hp-flip-card-6463 .front { background-image: url(img/banners-laz/nuevo/BANER27.jpg); background-size: 100% 100%;} 
.hp-flip-card-6463 .back { background-image: url(img/banners-laz/nuevo/BANER28.jpg); background-size: 100% 100%;} 

.hp-flip-card-64631 .front { background-image: url(img/banners-laz/nuevo/BANER25.jpg); background-size: 100% 100%;} 
.hp-flip-card-64631 .back { background-image: url(img/banners-laz/nuevo/BANER26.jpg); background-size: 100% 100%;} 

</style>

<script type="text/javascript" src="js/1.js"></script>
<script type="text/javascript" src="js/2.js"></script>
<script type="text/javascript" src="js/3.js"></script>

<script type="text/javascript" src="js/4.js"></script>

  <!--[if lt IE 9]>
  <link href="/sites/all/themes/sunyjcc/css/ie.css" rel="stylesheet" />
  <![endif]-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />


</head>

   <style type="text/css">
h3 {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #53106b;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 0.95em;
    margin: 0;
    font-weight: bold;
}
p {
    line-height: 16px;
    margin: 0;
}
/*********************************************************************/
/* Bootstrap 4 Multiple Item Carousel */
/*********************************************************************/
/* medium - display 2  */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(100%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-100%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(100%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}
      </style>

<body class="html front not-logged-in no-sidebars page-node page-node- page-node-8808 node-type-home-page" >
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF6T87" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->  <div id="skip-link">
    <a href="#" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <div id="headerBar" role="banner">
  <div id="headerContainer">
    <div id="logoContainer">
      <div id="logo">
        <span class="element-invisible">Instituto Iberoamericano del Derecho Electoral</span>
         <a href="index.html">
          <picture class="logo">
            <source srcset="img/logo50.png, img/logo50.png"  width="150px"
                media="(max-width: 768px)" >
            <img src="img/logo.png"  class="img-fluid" width="260px" />
          </picture>        
      </a>
    </div>
    </div>
    <div id="headerFluid">
      <div id="navContainer">
        <div
  class="menu-toggle"
  id="utilityMenuToggle"
  tabindex="0"
  aria-haspopup="true"
  role="button"
  aria-pressed="false"
  aria-label="Toggle utility menu">
  <i class="fa fa-bars"></i>
</div>
<div
  class="menu-toggle"
  id="primaryMenuToggle"
  tabindex="0"
  aria-haspopup="true"
  role="button"
  aria-pressed="false"
  aria-label="Toggle primary menu">
  <i class="fa fa-bars"></i>
</div>
<nav id="utilityNav" aria-label="Utility navigation">
  <ul>
    <li class="who-are-you-menu">
      


    </li>
    
  </ul>
</nav>
<nav id="primaryNav" aria-label="Primary navigation">
  

  <div id="primaryNavShadow"></div>

  <ul>

<li class="primary-nav-menu-item primary-nav-Admissions">
  <a title="Admisión" href="Quienes.html">Nosotros</a>
   <div class="subnav">
      </div>
</li>
<li class="primary-nav-menu-item primary-nav-Admissions">
  <a title="Admisión" href="admision.html">Admisiones</a>
   <div class="subnav">
      </div>
</li>

<li class="primary-nav-menu-item primary-nav-Programs">
        <a title="Programs" href="oferta.html">Oferta Educativa</a>
        <!--
        <div class="subnav-caret"></div><div class="subnav"><div class="subnav-container"><div class="subnav-col-1 subnav-menu">  <div class="region region-programs-subnav-col1">
    <div id="block-menu-block-18" class="block block-menu-block">

    <h2><a href="/programs" class="block-title-link" title="Programs">Conferencias Magistrales</a></h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-18 menu-name-menu-academics-subnav-menu-col-1 parent-mlid-0 menu-level-1">
  <ul class="menu"><li class="first leaf menu-mlid-4027"><a href="" title="">1</a></li>
<li class="leaf menu-mlid-4150"><a href="#" title="">2</a></li>

</ul></div>
  </div>
</div>
<div id="block-menu-block-34" class="block block-menu-block">

    <h2><a href="#" class="block-title-link" title="Learning Opportunities">Talleres</a></h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-34 menu-name-menu-menu-academics-subnav-col1a parent-mlid-0 menu-level-1">
  <ul class="menu"><li class="first leaf menu-mlid-4021"><a href="#" title="">1</a></li>
<li class="leaf menu-mlid-4020"><a href="#" title="">2</a></li>
<li class="leaf menu-mlid-4022"><a href="#" title="">3</a></li>
<li class="leaf menu-mlid-4023"><a href="#" title="">4</a></li>

</ul></div>
  </div>
</div>
  </div>
</div><div class="subnav-col-2">  <div class="region region-programs-subnav-col2">
    <div id="block-menu-block-20" class="block block-menu-block">

    <h2><a href="/programs" class="block-title-link" title="Career Communities">Posgrados</a></h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-20 menu-name-menu-academics-subnav-experienta parent-mlid-0 menu-level-1">
  <ul class="menu"><li class="first leaf menu-mlid-4140"><a href="maestrias.html" title="">Maestrias</a></li>
<li class="leaf menu-mlid-4144"><a href="#" title="">Doctorados</a></li>
</ul></div>
  </div>
</div>
  </div>
</div><div class="subnav-col-3">  <div class="region region-programs-subnav-col3">
    <div id="block-menu-block-21" class="block block-menu-block">

    <h2><a href="#" class="block-title-link" title="Resources and Support">Seminarios</a></h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-21 menu-name-menu-academics-subnav-menu-col-3 parent-mlid-0 menu-level-1">
  <ul class="menu"><li class="first leaf menu-mlid-2452"><a href="#" title="">Academic Advising</a></li>
<li class="leaf menu-mlid-2453"><a href="/programs/academic-resources" title="">Academic Calendar</a></li>
</ul></div>
  </div>
</div>
  </div>
</div><div class="subnav-col-4">  <div class="region region-programs-subnav-col4">
    <div id="block-block-3" class="block block-block">

    <h2><a href="/student-experience/transfer-career-prep/transferring-from-jcc" class="block-title-link" title="Transferability">Transferability</a></h2>
  
  <div class="content">
    <p><img alt="Mascots" src="img/logo.png"  style="height:82px; width:270px"></p>
<p>JCC has developed hundreds of transfer articulation agreements with dozens of institutions. Find out where JCC can take you.</p>
<p><a href="https://www.sunyjcc.edu/student-experience/transfer-career-prep/transferring-from-jcc/transfer-agreements#/page/1">Explore transfer agreements</a></p>
  </div>
</div>
  </div>
</div></div></div>    
-->
    <div class="subnav">
      </div>
  </li>






<li class="primary-nav-menu-item primary-nav-About">
  <a title="Aula" href="campusvirtual/index.html">Campus Virtual</a>
   
        <div class="subnav">
      </div>
</li>
 
<li class="primary-nav-menu-item primary-nav-Admissions">
  <a title="Solicitar información" href="solicitarinfo.html">Información</a>
   <div class="subnav">
      </div>
</li>

</ul>

</nav>  </div>

    </div>
  </div>
</div>

 

 <div id="headerImageContainer">
  <div id="headerImage" ></div>
</div>
<div id="headerSpacer"></div>
 <div class="d-block d-sm-block d-md-none" id="Contenedor">
  <h1> <center> Doctorados </center></h1><br>
  <a href="doctoradoDE.html" target="_blank"><img src="img/banners-laz/nuevo/cel/baner17.jpg" class="img-fluid"></a>
  <br>
  <a href="doctoradoDC.html" target="_blank"><img src="img/banners-laz/nuevo/cel/baner19.jpg" class="img-fluid"></a>
 </div>
<div class="d-none d-sm-none d-md-block" >
<div class="homepage-profiles homepage-section" style="margin-top: 10%" >
  <div class="profiles-container" >
 
<br><br><br><br>

<div class="container-fluid" >
  <center>
    <div class="row">
            
      <div class=""></div>
      <div class="col-12 col-md-4 flip-card-list-item hp-flip-card-DOC1">
        <div class="flip-card-container">
          <a href="doctoradoDE.html" class="flip-card">     
            <div class="front">
          <div class="media-text">
          <!--<span class="media-text-normal">Maestría en Derecho Constitucional y Derechos Humanos</span>-->
          </div>
          </div>
      <div class="back">
        <div class="caption-inner">
          <br>
          <!--<p></p><p>La Maestría en Derecho Constitucional y Derechos Humanos tiene como finalidad formar especialistas altamente calificados&nbsp; que conjuguen una sólida formación teórica y una aguda visión práctica.</p>-->

        </div>
      </div></a>
        </div>
      </div>

      <div class="col-12 col-md-4 flip-card-list-item hp-flip-card-DOC2">
        <div class="flip-card-container">
          <a href="doctoradoDC.html" class="flip-card">      
        <div class="front">
        <div class="media-text">
          <!--<span class="media-text-normal">Maestría en Derecho Constitucional y Derechos Humanos</span>-->
        </div>
      </div>
      <div class="back">
        <div class="caption-inner">
          <br>
          <!--<p></p><p>La Maestría en Derecho Constitucional y Derechos Humanos tiene como finalidad formar especialistas altamente calificados&nbsp; que conjuguen una sólida formación teórica y una aguda visión práctica.</p>-->
          
        </div>
      </div></a>
        </div>
      </div> 

    <div class="col-md-3.1" style="    width: 29.5%;margin-left: 2%;" >
                      <center>
                        <h3>Solicita información</h3>
                        </center>
                   <form id="contact-form" name="contact-form" action="#" method="post" novalidate="novalidate" class="fv-form fv-form-bootstrap"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                   <div class="row" style="margin-bottom: 19px">

                    <div class="col-md-12">
                            <select name="carrera" id="carrera" class="form-control">
                                <option style="font-weight: bold">Programa educativo de interés</option>
                                <option  style="font-weight: bold" value="1">Maestría en Derecho Electoral</option>
                                <option   style="font-weight: bold" value="2">Maestría en Derecho Constitucional y Derechos Humanos</option>
                                <option  style="font-weight: bold" value="3">Doctorado en Derecho Electoral</option>
                                <option  style="font-weight: bold" value="4">Doctorado en Derecho Constitucional y Derechos Humanos</option>
                                
                                <!--<option  style="font-weight: bold" value="5">Seminario de Partidos políticos sistemas de partidos y su democracia interna</option>
                                <option   style="font-weight: bold" value="6">Seminario de Financiamiento y fiscalización electoral</option>
                                <option  style="font-weight: bold" value="7">Seminario de Sistema sancionador electoral</option>
                                <option  style="font-weight: bold" value="8">Seminario de Medios de impugnación en materia electoral</option>
                                <option  style="font-weight: bold" value="8">Seminario de Delitos electorales</option>-->
                                <option  style="font-weight: bold" value="9">Diplomado de Derecho Electoral</option>
                              </select>
                      </div>
                    </div>
                            <div class="row" style="margin-bottom: 19px">
                                <div class="col-md-12">
                                    <input id="name" name="name" class="form-control" placeholder="Nombre*" required="required" data-error="First Name." type="text" data-fv-field="name"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="name" style="display: none;"></i>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="name" data-fv-result="NOT_VALIDATED" style="display: none;">El nombre es necesario y no puede estar vacío.</small></div>
                            </div>

                            <div class="row" style="margin-bottom: 19px">
                                <div class="col-md-12">
                                    <input id="lastname" name="lastname" class="form-control" placeholder="Apellidos*" required="required" data-error="Last Name." type="text" data-fv-field="lastname"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="lastname" style="display: none;"></i>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="lastname" data-fv-result="NOT_VALIDATED" style="display: none;">Los apellido son necesarios y no puede estar vacío.</small>
                              </div>
                            </div>

                            <div class="row" style="margin-bottom: 19px">
                                <div class="col-md-12">
                                    <input type="email" class="form-control" name="email"  id="email" value="" required="required" placeholder="Correo Electronico*" data-fv-field="email"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="email" style="display: none;"></i>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">Es necesaria la dirección de correo electrónico y esta no puede estar vacía</small><small class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">Este campo no contiene una dirección de correo electrónico válida.</small></div>
                            </div>

                            <div class="row" style=" border: 1px #000 solid; margin: 0; margin-bottom: 15px">
                            
                                <div class="col-md-12  form-check">    
                                    <div class="col-md-3">
                                        <label style="color: #000; font-weight: 100;">Sexo:  </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label style="color: #000; font-weight: 100;" for="sexo"><input type="radio" id="sexo" name="sexo" value="M" required="required" data-fv-field="sexo"> Mujer  </label>
                                    </div>
                                    <div style="padding-left: 0;padding-right: 0;" class="col-md-3">
                                        <label style="color: #000; font-weight: 100;" for="sexo"><input type="radio" id="sexo" name="sexo" value="H" data-fv-field="sexo"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="sexo" style="display: none;"></i> Hombre  </label>
                                    <small class="help-block" data-fv-validator="notEmpty" data-fv-for="sexo" data-fv-result="NOT_VALIDATED" style="display: none;">El sexo es necesario.</small></div>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 19px">
                                <div class="col-md-12">
                                    <select name="pais" id="form_user_name2" class="form-control" data-error="User Name." type="text" required="required" data-fv-field="pais">
                                        <option>País</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Argetina">Argentina</option>
                                        <option>Bolivia</option>
                                        <option>Brasil</option>
                                        <option>Chile</option>
                                        <option>Colombia</option>
                                        <option>Costa Rica</option>
                                        <option>Cuba</option>
                                        <option>Ecuador</option>
                                        <option>El Salvador</option>
                                        <option>España</option>
                                        <option>Guatemala</option>
                                        <option>Honduras</option>
                                        <option value="México">México</option>
                                        <option>Nicaragua</option>
                                        <option>Panamá</option>
                                        <option>Paraguay</option>
                                        <option>Perú</option>
                                        <option>Portugal</option>
                                        <option>Puerto Rico</option>
                                        <option>República Dominicana</option>
                                        <option>Uruguay</option>
                                        <option>Venezuela</option>
                                                                            </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="pais" style="display: none;"></i>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="pais" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                              </div>
                            </div>
                            <div class="row" style="margin-bottom: 19px">
                                <div class="col-md-12">
                                    <input id="form_user_name2" name="estado" class="form-control" placeholder="Estado / Provincia / Localidad" data-error="User Name." type="text" required="required" data-fv-field="estado"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="estado" style="display: none;"></i>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="estado" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                              </div>
                            </div>

                            <div class="row" style="margin-bottom: 19px">
                                <div class="col-md-4">
                                <input id="form_user_name2" name="phone" class="form-control" value="+52" placeholder="+52" required="required" data-error="User Name." type="text" data-fv-field="phone"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="phone" style="display: none;"></i>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="phone" data-fv-result="NOT_VALIDATED" style="display: none;">Su codigo de país es necesario y no puede estar vacío.</small></div>
                                <!--div class="col-md-3">
                                <input id="form_user_name2" name="phone2" class="form-control" placeholder="Lada" required="required" data-error="User Name." type="text">
                                </div-->
                                <div class="col-md-8">
                                <input id="phone3" name="phone3" class="form-control" placeholder="Teléfono* (10 digitos incluye clave lada)" required="required" data-error="User Name." type="text" pattern="[1-9]{1}[0-9]{9}" data-fv-field="phone3"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="phone3" style="display: none;"></i>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="phone3" data-fv-result="NOT_VALIDATED" style="display: none;">Su numero de telefono es necesario y no puede estar vacío.</small><small class="help-block" data-fv-validator="regexp" data-fv-for="phone3" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value matching the pattern</small></div>
                            </div>
                            <div class="row" style=" border: 1px #000 solid; margin: 0;margin-bottom: 10px;">
                                <div class="col-md-5">
                                    <label style="color: #000; font-weight: 100;">Mi teléfono es:</label>
                                </div>
                                <div class="col-md-3">
                                    <label style="color: #000; font-weight: 100;" for="phone"><input type="radio" id="type_phone" name="type_phone" value="fijo" data-error="User Name." required="required" data-fv-field="type_phone"> Fijo  </label>
                                </div>
                                <div class="col-md-4">
                                    <label style="color: #000; font-weight: 100;" for="phone"><input type="radio" id="type_phone" name="type_phone" value="celular" data-error="User Name." required="required" data-fv-field="type_phone"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="type_phone" style="display: none;"></i> Celular  </label>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="type_phone" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small></div>
                            </div>
                            <div class="row" style="margin-bottom: 19px">
                                <div class="col-md-8">
                                <label style="font-size: 12px;">¿Deseas que un Asesor te contacte?</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" id="asesor" name="asesor" value="si" required="required" data-fv-field="asesor"><label style="font-size: 12px;">Sí</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" id="asesor" name="asesor" value="no" data-fv-field="asesor"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="asesor" style="display: none;"></i><label style="font-size: 12px;">No</label>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="asesor" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small></div>
                            </div>
                            <div class="row" style="margin-bottom: 19px">
                                <div class="col-md-12">
                                    <input type="checkbox" id="privacidad" name="privacidad" value="1" required="required" data-fv-field="privacidad"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="privacidad" style="display: none;"></i>
                                    <label style="font-size: 12px;">  He leído y acepto el <a data-toggle="modal" data-target="#myModal"><span style="color:#337ab7;">Aviso de Privacidad</span> </a></label>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="privacidad" data-fv-result="NOT_VALIDATED" style="display: none;">Aceptar el aviso de privacidad es necesario.</small></div>
                            </div>
                            <button style="width: 100%;margin-top: 5%;color:#fff" class="btn btn-default irs-big-btn" id="boton-enviar" type="button" >Enviar</button>
                                        </form>

                    </div>
                    <!--div class="col-md-12">

                    </div-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>






</div>

<br>
<br>

     <div class="container d-none d-sm-none d-md-block" style="margin-top: 50px; width: 889px;">
<center>
        <h1 class="font-weight-light mb-5">Conoce nuestros programas educativos</h1>
        </center>
        <br>
<br>
<br>
        <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-lg-3 col-md-3">
                          <a href="doctoradoDE.html">
                            <img class="img-fluid"  src="img/banners-laz/nuevo/50/baner17.jpg" >
                          </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-3 col-md-3">
                          <a href="doctoradoDC.html">
                            <img class="img-fluid"  src="img/banners-laz/nuevo/50/baner19.jpg" >
                          </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-3 col-md-3">
                          <a href="melectoral.html">
                            <img class="img-fluid"src="img/banners-laz/nuevo/50/baner21.jpg" >
                          </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-3 col-md-5">
                              <a href="mderecho.html">
                            <img class="img-fluid"src="img/banners-laz/nuevo/50/baner23.jpg">
                          </a>
                        </div>
                    </div>
                    <!--<div class="carousel-item">
                        <div class="col-lg-4 col-md-5">
                            <img class="img-fluid"src="img/banners-laz/nuevo/50/baner25.jpg" >
                        </div>
                    </div-->
                    <div class="carousel-item">
                        <div class="col-lg-3 col-md-3">
                            <img class="img-fluid"src="img/banners-laz/nuevo/50/baner27.jpg" >
                        </div>
                    </div>
                    <!--
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-5">
                            <img class="img-fluid"src="img/banners-laz/nuevo/50/baner29.jpg" >
                        </div>
                    </div>-->
                    <!--
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-5">
                            <img class="img-fluid"src="img/banners-laz/nuevo/50/baner31.jpg" >
                        </div>
                    </div>-->
                </div>

            </div>
        </div>
    </div>
<br>
<div class="action-links-bar homepage-section" role="complementary" style="margin-bottom: 90px;margin-top: 90px;">
  <div class="links-container">
    <div class="link request-more-info">
      <a href="solicitarinfo.html">
        <img src="//www.sunyjcc.edu/sites/all/themes/sunyjcc/img/footer/action_bar/info.png" alt="Information icon" />
        <span>Más Información</span>
      </a>
    </div>
    <div class="link visit-campus">
      <a href="oferta.html">
        <img src="img/banners-laz/nuevo/libro2.png" alt="Map pinpoint icon" />
        <span>Oferta educativa</span>
      </a>
      </div>
    <div class="link apply">
      <a href="admision.html">
        <img src="//www.sunyjcc.edu/sites/all/themes/sunyjcc/img/footer/action_bar/apply.png" alt="Checklist icon" />
        <span>Admisiones</span>
      </a>
    </div>
  </div>
</div>



<div class="footer" role="contentinfo">
  <div class="footer-container">
    <div class="campus-locations" style=" text-align: justify; font-size:18">
<img src="img/banners-laz/nuevo/cel.png" class="img-fluid" width="270px">

    </div>
    <div class="footer-right">
      <div class="social">
        <div class="row-1">
       
          <a href="https://www.facebook.com/IDEIberoamerica/" target="_blank">
            <img src="img/logo/facebook.png" alt="IDE Facebook" width="50%" />
          </a>
          <a href="https://twitter.com/IDEIberoamerica" target="_blank">
            <img src="img/logo/twitter.png" alt="IDE Twitter" width="50%"/>
          </a>
          <a href="https://www.instagram.com/ideiberoamerica/" target="_blank">
            <img src="img/logo/instagram.png" alt="IDE Instagram" width="50%"/>
          </a>
          <a href="https://www.youtube.com/channel/UCTnp0ayG_BhWUjXo-Q1h_Xw" target="_blank">
            <img src="img/logo/youtube.png" alt="IDE Youtube" width="50%"/>
          </a>
    

    </div>
  </div>
</div>
</div>

</div>



  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
<h3><Center>POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES</Center></h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
<p style=" text-align: justify; font-size: 12">
La presente política de privacidad establece los términos en que usa y protege la información que es proporcionada por los usuarios al momento de utilizar nuestro sitio web. Esta institución está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual Usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo, la política de privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
</p><br>
<p style=" text-align: justify; font-size: 12">
    <h3>Información que es recogida</h3>
<br>
<p style=" text-align: justify; font-size: 12">
Nuestro sitio web podrá recoger información personal. Por ejemplo: nombre, información de contacto como su dirección de correo electrónico, información demográfica, entre otros. Asimismo, cuando sea necesario podrá requerir información específica para procesar algún tipo de documentación o facturación.</p>
<br>



    <h3>Uso de la información recogidas</h3>
<br>
<p style=" text-align: justify; font-size: 12">
Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, atención personalizada y mejorar nuestros productos y servicios. Es posible que a través de nuestras distintas plataformas digitales le enviemos, en forma periódica, correos electrónicos con ofertas especiales, nuevos productos e información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio.
<br><br>
Nuestra institución se encuentra comprometida con el manejo seguro de su información. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.

</p>
<br>
    <h3>Cookies</h3>
<br>
<p style=" text-align: justify; font-size: 12">
Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador. Al aceptar, se crea un fichero y la cookie sirve para tener información respecto al tráfico web, lo cual facilita las futuras visitas a una web. Otra función que tienen las cookies es que con ellas los sitios web pueden reconocerte individualmente y, por tanto, brindarte un servicio más personalizado.<br>
</p><br>
<p style=" text-align: justify; font-size: 12">

Nuestro sitio web emplea las cookies para identificar las páginas que visitadas y su frecuencia. Esta información es empleada para análisis estadísticos y después se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo, las cookies ayudan a proporcionar un mejor servicio de los sitios web, ya que estás no dan acceso a información ni de su ordenador, ni de Usted, a menos de que Usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de cookies, sin embargo, la mayoría de navegadores aceptan cookies automáticamente, pues sirve para tener un mejor servicio. Usted también puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.

</p>
<br>
<p style=" text-align: justify; font-size: 12">
    <h3>Enlaces a Terceros</h3>
<br>
<p style=" text-align: justify; font-size: 12">
Nuestro sitio web puede contener enlaces a otros sitios que sean de su interés, por lo que una vez que Usted abandone nuestra página, ya no tenemos control del sitio web al que es redirigido y, por lo tanto, no nos hacemos responsables de los términos o privacidad, ni de la protección de sus datos en esos sitios web, en virtud de que esos sitios web están sujetos a sus propias políticas de privacidad, por lo cual es recomendable que consulte ésta para que determine si está o no de acuerdo con las mismas.<br>

</p>
<br>
<p style=" text-align: justify; font-size: 12">
    <h3>Control de su información personal</h3>
<br>
<p style=" text-align: justify; font-size: 12">
Nuestro sitio web no vende, ni cede, ni distribuye la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.<br>

Nos reservamos el derecho de cambiar los términos de la presente política de privacidad en cualquier momento.


</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  





<script type="text/javascript" src="js/prod.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script>


 $('#boton-enviar').on('click',function(){

    //Almacenamos los valores
  nombre=$('#phone3').val();
  correo=$('#email').val();
  lastname=$('#lastname').val();
  name=$('#name').val();


    if ($('#carrera').val()>0 && nombre.length==10 &&  correo.length>7 && name.length>3 && lastname.length>4) {
        $.ajax({
            type: "POST",
            url: 'php/mail.php',
            data: $('#contact-form').serialize(),
            success: function(response)
            {

alert('Información enviada');
           }
       });
    }else{
      alert('Complete los registros');
    }

     });

</script>


<script type="text/javascript">


$('.carousel .carousel-item').each(function() {
    var minPerSlide = 10;
    var next = $(this).next();
    if (!next.length) {
        next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    for (var i = 0; i < minPerSlide; i++) {
        next = next.next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }

        next.children(':first-child').clone().appendTo($(this));
    }
});
</script>  
</body>
</html>